* {
  box-sizing: border-box;
}
/*pagina toda*/
body {
  background-color: #eef9bf;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*topo, contem titulo*/
header {
  margin: 40px 0px;
}
/*titulo*/
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #75b79e;
}
/*tudo abaixo do titulo*/
main {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*container das cartas*/
ul{
  width: 100%;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*dois lados dascartas*/
li {
  background-color: #a7e9af;
  width: 117px;
  height: 146px;
  margin: 17px 0;
  border: 1px solid #99cea8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  transform-style: preserve-3d;
  position: relative;
}
.virada{
    transform: rotateY(180deg);
}
/*dois lados da carta*/
.naovirada, .virada{
  background-color: #a7e9af;
  width: 100%;
  height: 100%;
  padding: 23px 8px;
  position: absolute;
  backface-visibility: hidden;
}
li.vira {
  transform: rotateY(180deg);
}
/*muda organização das cartas quando a tela ficar menor que 335px*/
/*pagina não responsiva, apenas versão fullscreen e mobile*/
@media screen and (max-width: 335px){
  ul {
    height: 100%;
  }
}